@import '@styles/base';

.mainWrap {
  @include directionX;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  .loginCardWrap {
    @include directionY;
    justify-content: center;
    align-items: center;
    @include apply-at-md-size {
      width: 60%;
      padding: 5rem;
    }
    width: 100%;
    padding: 2rem;
    background-color: var(--color-bg-secondary);
    .loginHeader {
      width: 100%;
      text-align: center;
      font-size: larger;
    }
    .form {
      .buttonSubmit {
        width: fit-content;
        background-color: var(--color-text);
        color: var(--color-bg-secondary);
        border-radius: 2.5rem;
        padding: 0.5rem 2.5rem 0.5rem 2.5rem;
        margin: auto;
        margin-top: 0.75rem;
        box-shadow: none;
        cursor: pointer;
        &:hover {
          transform: scale(1.1, 1.1);
        }
      }
    }
    .showPassword {
      @include directionX;
      align-items: center;
      padding-top: 0.25rem;
      font-size: small;
    }
    .backButton {
      position: absolute;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
      font-size: small;
      padding: 0.25rem 1.25rem 0.25rem 1.25rem;
      background-color: var(--color-bg-secondary);
      text-transform: capitalize;
      color: var(--color-text);
      cursor: pointer;
      border: none;
      margin: 1rem;
      top: 0;
      left: 0;
      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }
  .imgWrap {
    display: none;
    @include apply-at-md-size {
      @include directionX;
    }
    background-color: rgba($color: grey, $alpha: 0.3);
    height: 100vh;
    width: 40%;
    overflow: hidden;
    position: relative;
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
    .skeleton {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  .formNav {
    @include directionY;
    width: 100%;
    padding-top: 1rem;
    gap: 0.25rem;
    .nav {
      margin: 0;
      font-size: small;
    }
  }
}
