@import '@styles/base';

.form {
  .buttonWrap {
    @include directionX;
    gap: 2rem;
    .buttonSubmit {
      width: fit-content;
      background-color: var(--color-text);
      color: var(--color-bg-secondary);
      border-radius: 2.5rem;
      padding: 0.5rem 2.5rem 0.5rem 2.5rem;
      margin: auto;
      margin-top: 0.75rem;
      box-shadow: none;
      cursor: pointer;
      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }
  .timerComp {
    font-size: small;
    padding: 0.5rem 0 0.5rem 0;
    @include directionX;
    align-items: center;
    gap: 0.5rem;
  }
  .buttonResend {
    border: none;
    background-color: var(--color-text);
    border-radius: 10rem;
    color: var(--color-bg-secondary);
    cursor: pointer;
    &:hover {
      transform: scale(1.05, 1.05);
    }
  }
}
.showPassword {
  @include directionX;
  align-items: center;
  padding-top: 0.25rem;
  font-size: small;
}
