@import './media-mixins.scss';

@mixin light-theme {
  --color-bg: #fff;
  --color-bg-secondary: white;
  --color-text: #001a41;
  --color-button: #001a41;
  --color-accent: #e6ecf0;; 
  --color-blue: #1DA1F2;
}

@mixin dark-theme {
  --color-bg: black;
  --color-bg-secondary: black;
  --color-text: #f4eee0;
  --color-button: #001a41;
  --color-accent: #222527;; 
  --color-blue: #1DA1F2;
}
